:root {
  
  /* Tipografia */
  font-family: "Ultra", serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;

  /* Paleta de colores */
  --turquesa: #22a699;
  --amarillo: #f2be22;
  --rojo: #f24c3d;
  --blanco: #fcfcfc;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  user-select: none;
}

body {
  background-color: var(--amarillo);
  min-width: 150px;
  padding: 3vh 3vw;
}

header,
section,
#manos,
#mensaje {
  border: 2px solid var(--turquesa);
  border-radius: 8px;
  background-color: var(--blanco);
}

header, footer {
  text-align: center;
}

header {
  padding-block: 2vh;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 1vh;
  padding: 6vh 2vw;
}

h1, h2 {
  color: var(--turquesa);
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  color: var(--rojo);
  font-weight: 400;
  font-size: 0.75rem;
}

.vs {
  text-transform: uppercase;
  font-size: 6vw;
  font-weight: 400;
  border: 2px solid var(--turquesa);
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--turquesa);
  background-color: var(--amarillo);
}

img {
  border-radius: 50%;
  background-color: transparent;
  aspect-ratio: 3/3;
}

main img {
  width: max(12vw, 4rem);
}

footer img {
  width: max(6vw, 2rem);
  cursor: pointer;
}

footer img:hover {
  transform: scale(1.2);
}

footer section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 2vw;/
}

footer section h3 {
  color: var(--turquesa);
}

#manos,
#mensaje {
  padding: 2vh 2vw;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 3rem;
  border: 2px solid var(--rojo);
  border-radius: 8px;
  background-color: var(--blanco);
}

dialog::backdrop {
  background-image: linear-gradient(to right, rgba(3, 3, 3, 0.5), rgba(3, 3, 3, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, input[type="text"] {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

label {
  color: var(--turquesa);
}

input[type="text"] {
  font-family: serif;
  border: 1px solid var(--turquesa);
  border-radius: 4px;
}

input[type="submit"] {
  font-family: "Ultra";
  font-size: 2rem;
  color: var(--blanco);
  color: var(--turquesa);
  background-color: var(--blanco);
  border: 1px solid var(--turquesa);
  border-radius: 8px;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

input[type="submit"]:hover {
  background-color: var(--turquesa);
  color: var(--blanco);
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.5);
}

.error {
  font-size: 0.75rem;
  color: var(--rojo);
  display: inline-block;
  text-align: center;
}

@media only screen and (width > 376px) {
  main {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  section {
    padding: 2vh 6vw !important;
  }
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2vw;
  }
}