:root {
  /* tipografia */
  font-family: "League Spartan";
  font-size: 16px;
  font-weight: 700;

  /* paleta de colores */
  --Azul: hsl(220, 27%, 22%);
  --Celeste: hsl(225, 21%, 49%);
  --Rojo: hsl(6, 63%, 50%);
  --Gris: hsl(28, 16%, 65%);
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0%;
  margin: 0%;
  user-select: none;
  color: var(--Azul);
}

body {
  min-height: 100vh;
}

#primerOperando,
#operador,
#segundoOperando,
#resultado,
.boton {
  font-family: "League Spartan";
  font-size: 2rem;
  font-weight: 700;
}

.boton {
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 8px;
  opacity: 85%;
  margin: 0.5rem;
}

.boton:hover {
  cursor: pointer;
  opacity: 100%;
  box-shadow: 0px 2px 8px var(--Gris);
}

/* el boton calcular */
.primario {
  background-color: var(--Celeste);
  border: none;
}

/* el boton borrar y el boton memo */
.secundario {
  background-color: var(--Gris);
  border: none;
}

input[type="text"] {
  text-align: right;
}

input[type="text"],
select {
  padding: 0.5rem;
  border: 2px solid var(--Azul);
  border-radius: 4px;
  vertical-align: middle;
}

select, select option {
  cursor: pointer;
}

.error {
  color: var(--Rojo);
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--Azul);
  border-radius: 8px;
}

header,
footer,
.error {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin-top: 0.5rem;
}

footer {
  font-size: 0.75rem;
}